@font-face {
    font-family: Raleway Light;
    src: url('../Misc/fonts/Raleway/Raleway-Light.ttf');
}

.mindmap-svg {
    width: 100%;
    height: 100%;
}

.mindmap-node > a {
    cursor: pointer;
    background: royalblue !important;
    color: white !important;
    font-family: Raleway Light;
}

.mindmap-connection {
    stroke: #615f5f !important;
}

.mindmap-emoji {
    display: none;
}
