.graph-tools-pane {
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.graph-tools-pane .graph-tool {
    height: 40px;
    width: 40px;
    background: black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.graph-tools-pane .graph-tool .graph-icon {
    position: relative;
    right: 11px;
    bottom: 11px;
}
