.graph-box {
    box-shadow: inset 0px 5px 10px black;
    display: flex;
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    top: calc(50% - 75px); /* initial "shrunk" setting */
    left: calc(50% - 100px);
    width: 200px;
    height: 150px;
    padding: 10px !important;
    font-family: Raleway Regular;
    font-size: 1.45vh;
    text-align: center;
    z-index: 200;
    align-items: flex-start;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.graph-root {
    position: absolute;
    top: 12%;
    left: 5%;
    display: flex;
    background-color: #3d3838;
    height: 80%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.graph-back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: calc(12% - 40px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
