@font-face {
    font-family: Raleway Regular;
    src: url(../Misc/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Montserrat ExtraLight;
    src: url(../Misc/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}

.app {
    height: 100%;
    min-height: 100%;
    text-align: center;
    background-image: url('../Misc/img/background.jpg');
    background-color: #57585C;
    background-size: cover;
    background-blend-mode: overlay;
}

.body-text {
    font-family: Raleway Regular, sans-serif;
    font-size: 1.8vh;
}

.header-text {
    font-family: Montserrat ExtraLight, sans-serif;
    font-size: 4.5vh;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
