
.app {
    height: 100%;
    min-height: 100%;
    text-align: center;
    background-image: url('../Misc/img/background.jpg');
    background-color: #57585C;
    background-size: cover;
    background-blend-mode: overlay;
}

.main-body {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
}
